templates/core/terraform/airlock/logicapp-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_newlogapp_name": {
            "type": "String"
        },
        "connections_azureeventgridpublish_externalid": {
            "type": "String"
        },
        "connections_servicebus_1_externalid": {
            "type": "String"
        },
        "subscription_id": {
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_newlogapp_name')]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_message_is_received_in_a_queue_(auto-complete)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent(encodeURIComponent('updatestatus'))}/messages/head",
                                "queries": {
                                    "queueType": "Main"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "parsed_new_status",
                                        "type": "string",
                                        "value": "@{decodeBase64(triggerBody()?['ContentData'])}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@variables('parsed_new_status')",
                                "schema": {
                                    "properties": {
                                        "new_status": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Publish_Event": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": [
                                    {
                                        "data": "@body('Parse_JSON')?['new_status']",
                                        "eventTime": "@triggerBody()?['ScheduledEnqueueTimeUtc']",
                                        "eventType": "UpdateStatus",
                                        "id": "@triggerBody()?['MessageId']",
                                        "subject": "placeholder"
                                    }
                                ],
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureeventgridpublish']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/eventGrid/api/events"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureeventgridpublish": {
                                "connectionId": "[parameters('connections_azureeventgridpublish_externalid')]",
                                "connectionName": "egconnnname",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/centralus/managedApis/azureeventgridpublish')]"
                            },
                            "servicebus_1": {
                                "connectionId": "[parameters('connections_servicebus_1_externalid')]",
                                "connectionName": "sbconnname",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/centralus/managedApis/servicebus')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}